<div class="row">
    <div class="col-md-12 col-xs-12">
      <p>Add new servers or blueprint</p>
      <label for="server"> Server Name</label>
      <!-- <input type="text" class="form-control"  [(ngModel)]='newServerName'> -->
      <input type="text" class="form-control"
       #serverNameInput>
      <label for="">Serve Content</label>
      <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->
      <input type="text" class="form-control"
      #serverContentInput 
      >  // first add refereence variable and this ref serverContentInput used in ts to  accessing  element or refernce
      <br>
      <button class="btn btn-primary" (click)="onAddServer(serverNameInput)">Add Server</button>

      <button class="btn btn-primary" (click)="onAddBluprint(serverNameInput)">Add Server Blueprint</button>

      </div>
  </div>
